<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="icon" href="/logo.png">
        <title>Online Medicines | HEALTH CARE</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src='/useracc.js'></script>
        <link rel="stylesheet" href="/HealthCareStyle.css">
    </head>
    <body>
        <header>
            <nav class="navbar">
                <ul>
                    <li style="font-weight:bold"><a href="http://localhost:3000/Home" target="_self">HACKIE PHARM</a></li>
                    <li><a href="http://localhost:3000/Medicine" target="_self">MEDICINE</a></li>
                    <li><a href="http://localhost:3000/HealthCare" target="_self">HEALTH CARE</a></li>
                    <li><a href="http://localhost:3000/Vaccination" target="_self">VACCINATION</a></li>
                    <li><a href="http://localhost:3000/Offer" target="_self">OFFERS</a></li>
                    <li><a href="http://localhost:3000/Contact" target="_self">CONTACT</a></li>
                    <li><a href="http://localhost:3000/cart" target="_self">CART</a></li>
                    <li>
                        <i class="far" style="color:whitesmoke;font-size: 20px;">&#xf2bd; &nbsp;Welcome <%= username %> ! </i></li>
                </ul>
            </nav>
        </header>
        <section>
            <div class="grid-container1">
                <div class="grid-item1">
                    <img src="/health.jpg">
                </div>
                <div class="grid-item1">
                    <img src="/health1.jpg">
                </div>
            </div>
            <div class="grid-container2">
                <div class="grid-item2">
                    <img src="/b1.jpg"><br><br>
                    <a href="/PersonalCare" target="_self">
                    <button>Personal Care</button></a>
                </div>
                <div class="grid-item2">
                    <img src="/b2.png"><br><br>
                   <button>Essentials</button>
                </div>
                <div class="grid-item2">
                    <img src="/b3.jpg"><br><br>
                    <button>Health Devices</button>
                </div>
                <div class="grid-item2">
                    <img src="/b4.jpg"><br><br>
                    <a href="/HomeCare" target="_self">
                    <button>Home Care</button></a>
                </div>
            </div>
        </section>
    </body>
</html>
