<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="icon" href="/logo.png">
        <title>Online Medicines | VACCINATION</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src='/useracc.js'></script>
        <link rel="stylesheet" href="/VaccinationStyle.css">
    </head>
    <body>
        <header>
            <nav class="navbar">
                <ul>
                    <li style="font-weight:bold"><a href="http://localhost:3000/Home" target="_self">HACKIE PHARM</a></li>
                    <li><a href="http://localhost:3000/Medicine" target="_self">MEDICINE</a></li>
                    <li><a href="http://localhost:3000/HealthCare" target="_self">HEALTH CARE</a></li>
                    <li><a href="http://localhost:3000/Vaccination" target="_self">VACCINATION</a></li>
                    <li><a href="http://localhost:3000/Offer" target="_self">OFFERS</a></li>
                    <li><a href="http://localhost:3000/Contact" target="_self">CONTACT</a></li>
                    <li><a href="http://localhost:3000/cart" target="_self">CART</a></li>
                    <li>
                        <i class="far" style="color:whitesmoke;font-size: 20px;">&#xf2bd; &nbsp;Welcome <%= username %> ! </i></li>
                </ul>
            </nav>
        </header>
        <section>
            <div id="section-01">
                <h1 style="color:#2c2c2c; ">Register or Sign in for Vaccination</h1>
                <p style="color:whitesmoke;">An OTP will be sent to your mobile number for verification</p>
            </div>
        </section>
        <article>
            <div class="flex-parent jc-center">
                <button><a href="https://www.cowin.gov.in/" target="_blank">Click here</a></button>
            </div>
            <div>
                <p style="color:whitesmoke;">By Sign In/Registration, I agree to the <a href="https://www.cowin.gov.in/terms-condition" target="_blank" style="color:#2c2c2c; text-decoration: underline;">Terms of Service</a> and <a href="cowin.gov.in/privacy-policy" target="_blank" style="color:#2c2c2c; text-decoration: underline;">Privacy Policy</a>.</p>
            </div>
        </article>
        <footer>
            <img src="/vaccination.jpg" width="100%" height="100%">
        </footer>
    </body>
</html>